.sidebar-item {
    display: flex;
    cursor: pointer;
    &:hover{
        background-color: rgba($color: #7b7b7b, $alpha: 0.7);
    }
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 264px; 
    height: 1.2em; 
    white-space: nowrap;
  }