.post-form-button {
  background: url(../../assets/img/send-icon.png) 50% 50% no-repeat;
  background-size: contain;
  border: none;
  width: 100px;
  height: 50px;
  width: 19.5px;
  height: 19.51px;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
