.new-message-block {
  width: 100%;
  background: rgba(64, 126, 201, 0.08);
  padding: 4px 12px;
}

.new-message-text {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #407ec9;
}
