.message-bubble {
  display: inline-block;
  background-color: rgba(64, 126, 201, 0.16);
  max-width: 588px;
  padding: 12px 8px;
  border-radius: 8px;
}
.message-avatar-wrapper {
  position: absolute;
  left: -33px;
  top: 5px;
}
.message-partner-bubble {
  background-color: #f3f3f3;
}
.users-block {
  position: relative;
}

.message-text {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.message-time {
  text-align: right;
  font-size: 12px;
  line-height: 9px;
  color: #605e5c;
}

.user-name,
.user-surname {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #201f1e;
}

.messages-attributes {
  display: flex;
  align-items: end;
  width: 50px;
  margin-left: 8px;
}

.without-check-icon {
  justify-content: flex-end;
}

.message-readed {
  position: relative;
  left: 7px;
  top: 4px;
}
